body {
	font-family: 'Slabo 27px', serif;
	background-color: rgb(248, 249, 250);
}

.navbar {
	height: 45px;
	width: 100vw;
	background-color: #66B2FF;
	border-bottom: solid 1px darkgray;
	padding-left: 15%;
	padding-right: 15%;
	font-color: white;
	font-size: 18px;
}

.jumbotron {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 66px;
	background-color: grey;
	border: solid 1px darkgray;
}

#resumePage {
	display: none;
	margin: 66px auto;
	width: 8.5in;
}

h2 {
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 0.75em;
}

table {
	width: 100%;
}

td li {
	width: 95%;
}

td:nth-child(2) {
	text-align: right;
}