@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  font-family: 'Slabo 27px', serif;
  background-color: rgb(248,249,250);
}

.jumbotron {
  background-color: white;
  border: solid 1px darkgray;
  width: 72%;
  margin: auto;
}

.portfolioJumbotron .jumbotron {
  margin-left: 0;
  width: 100%;
  border: solid 1px black;
  padding: 2rem!important;
}

.menuBar {
  background-color: rgb(24, 28, 32);
  height: 2.6em;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 1em;
}

h2 {
  border-bottom: 1px solid black;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

.portfolioJumbotron .jumbotron h2 {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0.1em;
}

table{
  width: 100%;
}

td li {
  width: 95%
}

td:nth-child(2){
  text-align: right;
}

h5 {
  margin-top: 1em;
}


@media only screen and (max-width: 800px) {
  .jumbotron{
    width: 100%;
  }
}